@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --light-background: #ffffff;
  --light-foreground: #171717;
  --dark-background: #0a0a0a;
  --dark-foreground: #ededed;
}

body {
  @apply bg-light-background dark:bg-dark-background;
  font-family: Helvetica, sans-serif;
  transition: background-color 1s ease, color 2s ease;
}
